* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

li {
    list-style: none;
}

.popup_banner img {
    display: block;
}


/* header */

nav {
    padding: 15px;
    width: 100%;
    display: flex;
    background: #f1df11;
    position: static;
}

nav .content-nav {
    display: flex;
    line-height: 2rem;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
}

nav .content-nav ul {
    display: flex;
}

nav .content-nav ul li a {
    text-decoration: none;
    color: #43433e;
    text-transform: uppercase;
    padding: 0 15px;
    font-weight: 800;
}

nav .content-nav ul li a:hover {
    color: #fff;
}

.content-nav form {
    position: relative;
}

.content-nav form input {
    border: none;
    background: #fff;
    padding: 7px;
    outline: none;
    border-radius: 12px;
}

.content-nav form input[type='text'] {
    width: 300px;
}

.content-nav form input[type='submit'] {
    width: 75px;
    background-color: #57a957;
    border: 2px;
}

.content-nav form input[type='submit']:hover {
    background-color: #fff;
    border: 4px;
}

.shop_option {
    margin-left: 30px;
}

.shop_option .link {
    display: inline-lock;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
}

.shop_option .link:hover {
    color: #fff;
}
.banner{
    width: 100%;
    height: 150px;
    background-image: url("../images/slides/2.jpg");
    display: inline-block;
}
.banner img{
    width: 100%;
}

.banner .cart-icon{
    margin-left: 10%;
    margin-top: 100px;
    float: left;
    text-align: center;
}

.banner .cart-text{
    margin-left: 2% ;
    margin-top: 90px;

    float: left;
}
.table-block{
    width: 90%;
    text-align: center;
    margin-top: 5%;
    margin-left: 5% ;

}
.table{
    width: 90%;
}
.table img{ 
    margin-top: 5px ;  
        max-height: 180px !important;
        max-width: 120px !important;
        
}
 

.product-name{
    width: 55%;
    float: left;
}
.product-name span{
    float: left;
}

.product-img{
    width: 160px !important;
  
}

table input{
    width: 100px;
   
}

.payment{
    width: 90%;
    height: 200px !important;
    text-align: center;
    margin-top: 50px !important ;
}

.payment-price{
    width: 60%;
    float: left;
    text-align: center;
}
.payment-btn{
    width: 40%;
    float: left;
}

.payment-btn button{
  height: 50px;
  zoom: 1;
  padding: 6px 20px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  color: #555;
  background-color: #ddd;  border-color: #57a957;
}
.payment-table{
    margin-left: 10% ;
}


.footer {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: orangered;
	padding: 15px !important;
}

.footer-content {
	margin-left: 20px !important;
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	text-align: left;
}

.footer-content .fa-instagram {
	margin-left: 20px !important;   
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a :hover {
	color: goldenrod;
}

