<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillServletEdit</servlet-name>
        <servlet-class>controller.BillServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBillAction</servlet-name>
        <servlet-class>controller.EditBillAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServletRemove</servlet-name>
        <servlet-class>controller.CategoryServletRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServletEdit</servlet-name>
        <servlet-class>controller.CategoryServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServletAction</servlet-name>
        <servlet-class>controller.CategoryServletAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServletAdd</servlet-name>
        <servlet-class>controller.CategoryServletAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServletEdit</servlet-name>
        <servlet-class>controller.ProductServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServletAction</servlet-name>
        <servlet-class>controller.ProductServletAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServletAdd</servlet-name>
        <servlet-class>controller.ProductServletAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServletRemove</servlet-name>
        <servlet-class>controller.ProductServletRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServletList</servlet-name>
        <servlet-class>controller.UserServletList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServletEdit</servlet-name>
        <servlet-class>controller.UserServletEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServletAction</servlet-name>
        <servlet-class>controller.UserServletAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServletRemove</servlet-name>
        <servlet-class>controller.UserServletRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearch</servlet-name>
        <servlet-class>controllerClient.ProductSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductList</servlet-name>
        <servlet-class>controllerClient.ProductList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllerClient.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controllerClient.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPassword</servlet-name>
        <servlet-class>controllerClient.EditPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPasswordAction</servlet-name>
        <servlet-class>controllerClient.EditPasswordAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>controller.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdd</servlet-name>
        <servlet-class>controller.UserAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <servlet-class>controller.DashboardAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCartServlet</servlet-name>
        <servlet-class>controllerClient.ListCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProCartRemoveServlet</servlet-name>
        <servlet-class>controllerClient.ProCartRemoveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlusServlet</servlet-name>
        <servlet-class>controllerClient.PlusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MinusServlet</servlet-name>
        <servlet-class>controllerClient.MinusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controllerClient.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillAddServlet</servlet-name>
        <servlet-class>controllerClient.BillAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdd</servlet-name>
        <servlet-class>controller.ProductAdd</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillServlet</servlet-name>
        <servlet-class>controller.BillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllerClient.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signUpServlet</servlet-name>
        <servlet-class>controllerClient.signUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>controllerClient.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>controllerClient.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailPassword</servlet-name>
        <servlet-class>controllerClient.SendMailPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controllerClient.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillServlet</servlet-name>
        <url-pattern>/view/admin/bill/BillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/view/admin/product/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillServletEdit</servlet-name>
        <url-pattern>/view/admin/bill/BillServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBillAction</servlet-name>
        <url-pattern>/view/admin/bill/EditBillAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/view/admin/category/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServletRemove</servlet-name>
        <url-pattern>/view/admin/category/CategoryServletRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServletEdit</servlet-name>
        <url-pattern>/view/admin/category/CategoryServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServletAction</servlet-name>
        <url-pattern>/view/admin/category/CategoryServletAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServletAdd</servlet-name>
        <url-pattern>/view/admin/category/CategoryServletAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServletEdit</servlet-name>
        <url-pattern>/view/admin/product/ProductServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServletAction</servlet-name>
        <url-pattern>/view/admin/product/ProductServletAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServletAdd</servlet-name>
        <url-pattern>/view/admin/product/ProductServletAdd</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ProductServletAdd</servlet-name>
        <url-pattern>/ProductServletAdd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProductServletRemove</servlet-name>
        <url-pattern>/view/admin/product/ProductServletRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServletList</servlet-name>
        <url-pattern>/view/admin/user/UserServletList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServletEdit</servlet-name>
        <url-pattern>/view/admin/user/UserServletEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServletAction</servlet-name>
        <url-pattern>/view/admin/user/UserServletAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServletRemove</servlet-name>
        <url-pattern>/view/admin/user/UserServletRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearch</servlet-name>
        <url-pattern>/ProductSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductList</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signUpServlet</servlet-name>
        <url-pattern>/signUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailPassword</servlet-name>
        <url-pattern>/SendMailPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPassword</servlet-name>
        <url-pattern>/EditPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPasswordAction</servlet-name>
        <url-pattern>/EditPasswordAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/UserAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdd</servlet-name>
        <url-pattern>/UserAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <url-pattern>/DashboardAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCartServlet</servlet-name>
        <url-pattern>/ListCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProCartRemoveServlet</servlet-name>
        <url-pattern>/ProCartRemoveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlusServlet</servlet-name>
        <url-pattern>/PlusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MinusServlet</servlet-name>
        <url-pattern>/MinusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillAddServlet</servlet-name>
        <url-pattern>/BillAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdd</servlet-name>
        <url-pattern>/ProductAdd</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            5
        </session-timeout>
    </session-config>
</web-app>
